#*
 * (c) Copyright, Moebius Solutions, Inc., 2012
 *
 *                        All Rights Reserved
 *
 * LICENSE: GPLv3
 *#
	---
	About
	---
	---

About ${project.name}

  ${project.description}

~~NOTE: Uncomment ("~~") the following section to include a
~~detailed description of the module. 

~~* Details
~~
~~  Blah blah blah blah
~~  Blah blah blah blah
~~  Blah blah blah blah
~~
~~  Blah blah blah blah
~~  Blah blah blah blah
  