<?xml version="1.0" encoding="UTF-8"?>
<!--
  #%L
  milmaps
  %%
  Copyright (C) 2015 Moebius Solutions, Inc.
  %%
  Copyright 2015 Moebius Solutions Inc
  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at
  
  http://www.apache.org/licenses/LICENSE-2.0
  
  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  #L%
  -->

<!--

    (c) Copyright, Moebius Solutions, Inc., 2012

                           All Rights Reserved

    LICENSE: GPLv3

-->
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>tms</servlet-name>
        <servlet-class>com.moesol..server.tms.RemoteTileMapServiceImpl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoteLogger</servlet-name>
        <servlet-class>com.google.gwt.logging.server.RemoteLoggingServiceImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>tms</servlet-name>
        <url-pattern>/com.moesol.gwt.maps.Test/tms</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoteLogger</servlet-name>
        <url-pattern>/com.moesol.gwt.maps.Test/remote_logging</url-pattern>
    </servlet-mapping>
</web-app>
