#*
 * (c) Copyright, Moebius Solutions, Inc., 2006
 *
 *                        All Rights Reserved
 *
 * This material may be reproduced by or for the U. S. Government
 * pursuant to the copyright license under the clause at
 * DFARS 252.227-7014 (OCT 2001).
 *#
	---
	About
	---
	---

About ${project.name}

  ${project.description}

~~NOTE: Uncomment ("~~") the following section to include a
~~detailed description of the module. 

~~* Details
~~
~~  Blah blah blah blah
~~  Blah blah blah blah
~~  Blah blah blah blah
~~
~~  Blah blah blah blah
~~  Blah blah blah blah
  